<div class="graficas">
    <br><br><br>
    <img style="width: 98vw;" src="img/g1.png">
    <img style="width: 98vw;" src="img/g2.png">
    <img style="width: 98vw;" src="img/g3.png">
    <img style="width: 98vw;" src="/img/g4.png">
</div>
