<div class="graficas">
    <br><br><br>
    <img style="width: 98vw;" src="img/g1.png" alt="">
    <img style="width: 98vw;" src="img/g2.png" alt="">
    <img style="width: 98vw;" src="img/g3.png" alt="">
    <img style="width: 98vw;" src="/img/g4.png" alt="">
</div>
