<br><br><br>
<title>Iniciar Sesion</title>
<div class="container p-10">
    <div class="row mt-20">
        <div class="col-md-4 mx-auto ">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Iniciar Sesion</h3>
                </div>
                <div class="card-body">
                    <img src="/img/logo.png" alt="" class="card-img-top mx-auto m-2 w-50">
                    <form action="/signin" method="POST">
                        <div class="form-group mb-3">
                            
                            <input type="text" name="username" autofocus placeholder="Nombre de usuario" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <input type="password" placeholder="Contraseña" name="password" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <button class="btn btn-success btn-block">
                                <h5>Ingresar</h5>
                            </button>
                        </div>
                    </form>
                    <a class="text-center" href="/signup">¿No tienes cuenta?, Registrate</a>
                </div>
            </div>
        </div>
        
    </div>
    
</div>

<script>
    window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button";
    window.onhashchange= function(){
        window.location.hash="no-back-button";
    }
</script>